<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>children</key>
									<array/>
									<key>title</key>
									<string>View</string>
									<key>type</key>
									<string>group</string>
								</dict>
							</array>
							<key>title</key>
							<string>Controller</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Tatawei Student/App/AppDelegate.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Tatawei Student/App/SceneDelegate.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>App</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>Tatawei Student/MVC/Controller/ViewController.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
							</array>
							<key>title</key>
							<string>Controller</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>title</key>
							<string>Model</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>children</key>
									<array>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>Tatawei Student/MVC/View/Base.lproj/LaunchScreen.storyboard</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
									</array>
									<key>title</key>
									<string>LaunchScreen.storyboard</string>
									<key>type</key>
									<string>group</string>
								</dict>
								<dict>
									<key>children</key>
									<array>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>Tatawei Student/MVC/View/Base.lproj/Main.storyboard</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
									</array>
									<key>title</key>
									<string>Main.storyboard</string>
									<key>type</key>
									<string>group</string>
								</dict>
							</array>
							<key>title</key>
							<string>View</string>
							<key>type</key>
							<string>group</string>
						</dict>
					</array>
					<key>title</key>
					<string>MVC</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Tatawei Student/Assets.xcassets</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Tatawei Student/Info.plist</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Tatawei Student</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>children</key>
									<array/>
									<key>title</key>
									<string>View</string>
									<key>type</key>
									<string>group</string>
								</dict>
							</array>
							<key>title</key>
							<string>Controller</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Tatawei Student/App/AppDelegate.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
						<dict>
							<key>destination</key>
							<dict>
								<key>rebasable-url</key>
								<dict>
									<key>base</key>
									<string>workspace</string>
									<key>payload</key>
									<dict>
										<key>relative-path</key>
										<string>Tatawei Student/App/SceneDelegate.swift</string>
									</dict>
								</dict>
								<key>type</key>
								<string>DVTDocumentLocation</string>
							</dict>
							<key>type</key>
							<string>bookmark</string>
						</dict>
					</array>
					<key>title</key>
					<string>App</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>children</key>
					<array>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>destination</key>
									<dict>
										<key>rebasable-url</key>
										<dict>
											<key>base</key>
											<string>workspace</string>
											<key>payload</key>
											<dict>
												<key>relative-path</key>
												<string>Tatawei Student/MVC/Controller/ViewController.swift</string>
											</dict>
										</dict>
										<key>type</key>
										<string>DVTDocumentLocation</string>
									</dict>
									<key>type</key>
									<string>bookmark</string>
								</dict>
							</array>
							<key>title</key>
							<string>Controller</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>children</key>
							<array/>
							<key>title</key>
							<string>Model</string>
							<key>type</key>
							<string>group</string>
						</dict>
						<dict>
							<key>children</key>
							<array>
								<dict>
									<key>children</key>
									<array>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>Tatawei Student/MVC/View/Base.lproj/LaunchScreen.storyboard</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
									</array>
									<key>title</key>
									<string>LaunchScreen.storyboard</string>
									<key>type</key>
									<string>group</string>
								</dict>
								<dict>
									<key>children</key>
									<array>
										<dict>
											<key>destination</key>
											<dict>
												<key>rebasable-url</key>
												<dict>
													<key>base</key>
													<string>workspace</string>
													<key>payload</key>
													<dict>
														<key>relative-path</key>
														<string>Tatawei Student/MVC/View/Base.lproj/Main.storyboard</string>
													</dict>
												</dict>
												<key>type</key>
												<string>DVTDocumentLocation</string>
											</dict>
											<key>type</key>
											<string>bookmark</string>
										</dict>
									</array>
									<key>title</key>
									<string>Main.storyboard</string>
									<key>type</key>
									<string>group</string>
								</dict>
							</array>
							<key>title</key>
							<string>View</string>
							<key>type</key>
							<string>group</string>
						</dict>
					</array>
					<key>title</key>
					<string>MVC</string>
					<key>type</key>
					<string>group</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Tatawei Student/Assets.xcassets</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
				<dict>
					<key>destination</key>
					<dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Tatawei Student/Info.plist</string>
							</dict>
						</dict>
						<key>type</key>
						<string>DVTDocumentLocation</string>
					</dict>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Tatawei Student</string>
			<key>type</key>
			<string>group</string>
		</dict>
	</array>
</dict>
</plist>
